[gcode_macro VAR_GLOBALS]
description: bulk definition of variables to be used wherever in the process

# Temperaturas de impresion
variable_temp_extruder          :   225.0   # temperatura de impresion 
variable_temp_bed               :   60.0    # temperatura de cama
# variable_temp_chamber         :   60.0    # temperatura de cabina
variable_temp_keep              :   True # 0 # false   # mantiene la temperatura cuando esta la impresion en pausa

# Motores
variable_home_cur               :   0.700   # Vref mAh

# Bandeja Electronica
#variable_status_et              :   0 #false   # Bandeja de electronica Abierta/Cerrada (True|False)

# Posición de parking
variable_calc_parking           :   True    # habilita/deshabilita el parking calculado (false = se desplaza a las coordenadas proporcionadas abajo)
variable_x_park	                :   222     # 110.0   # Posicion de X en parking
variable_y_park                 :   -10     # 110.0   # Posicion de X en parking
variable_z_park                 :   100.0   # Posicion mínimal de Z en parking

# Pids por defecto
variable_temp_pid_e             :   240.0   # temperatura del extrusor para realizar el PID
variable_temp_pid_b             :   60.0    # temperatura de la cama para realizar el PID
variable_default_bedtemp        :   40.0    # temperatura mínima por defecto al calibrar la cama

variable_z_up                   :   10.0    # sube x milimetros al hacer desplazamientos(home)

# posicion central 
variable_calc_center_pos        :   False     # True    # calcula el centro de la cama (false = se desplaza a las coordenadas proporcionadas abajo)
variable_x_center               :   117.5     # posicion central de X
variable_y_center               :   117.5     # posicion central de Y

variable_beeps                  :   1       # Numero de beeps de aviso.

variable_retract_length	        :   1.3     # 0.8 # 1.8 # 1 # milimetros de retraccion de filamento
variable_retract_speed          :   50      # 30 # velocidad de retraccion

# filamento 
variable_fil_length_purge       :   5.0 # 3.5 # 2.5 # 3.0 # 0.1     # longitud de purga de filamento en milimentos 20230602
variable_fil_purge_speed        :   250 # 350 # 250 # 300     # velocidad de retracción de purga de filamento 20230608
variable_fil_num_repeats        :   1             # repite un numero de veces la carga/descargar evitar restriccion
# variable_fil_length           :   180           # logitud de filamento a cargar/descargar 
variable_fil_length_load        :   220           # logitud de filamento a cargar
variable_fil_length_unload      :   120           # logitud de filamento a descargar 
variable_fil_speed              :   250 # 350 # 250 # 300     # velocidad de carga/descarga filamento 20230608
variable_fil_fast_speed         :   300 # 450 #500 # 600     # velocidad rápida de carga/descarga filamento 20230608

#variable_filament_change_alert_beeps : 5          # Numero de pitidos e atencion para cambiar el filamento

variable_filamento_descargado   :   False         # Variable para evitar la doble descarga de filamento, ongoing

#configure Bed Leveling
variable_calibrate_bed_mesh     :   True


variable_timeout_pause          :   7200    # tiempo de espera para entrar en reposo. (1h)
variable_timeout                :   3600    # tiempo de espera para entrar en reposo. (30 min)
gcode:

    {% if calc_center_pos %}
        SET_GCODE_VARIABLE MACRO=VAR_GLOBALS VARIABLE=x_center VALUE={(printer.toolhead.axis_maximum.x / 2)}
        SET_GCODE_VARIABLE MACRO=VAR_GLOBALS VARIABLE=y_center VALUE={(printer.toolhead.axis_maximum.y / 2)}
    {% endif %}

    {% if calc_parking %}
        SET_GCODE_VARIABLE MACRO=VAR_GLOBALS VARIABLE=x_park VALUE={(printer.toolhead.axis_maximum.x + 2)} # It was -5 before
        SET_GCODE_VARIABLE MACRO=VAR_GLOBALS VARIABLE=y_park VALUE={(printer.toolhead.axis_minimum.y - 5)} # It was axis_maximum.y - 20
        SET_GCODE_VARIABLE MACRO=VAR_GLOBALS VARIABLE=z_park VALUE={(printer.toolhead.axis_maximum.z / 3)}
    {% endif %}

    # se actualizan los valores de retraccion a los del firmware
    {% if printer['firmware_retraction'] %}
        SET_GCODE_VARIABLE MACRO=VAR_GLOBALS VARIABLE=retract_length VALUE={printer.firmware_retraction.retract_length}
        SET_GCODE_VARIABLE MACRO=VAR_GLOBALS VARIABLE=retract_speed VALUE={printer.firmware_retraction.retract_speed}
    {% endif %}

    ECHO_VAR_GLOBALS

[gcode_macro ECHO_VAR_GLOBALS]
description: Echo VAR_GLOBALS variables to the console.
gcode:
  {% for var, value in printer["gcode_macro VAR_GLOBALS"].items() %}
      {action_respond_info(var ~ ": " ~ value)}
  {% endfor %}